<!DOCTYPE html>


<html>

<head>
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
<header class=""peage__header>
    <p0 class="page__title">
        Контакты:
    </p0>
</header>
    <ul class="contact-list">
        <li>
            <span>
                Контакт 1
            </span>
        </li>
        <li>
            <span>
                Контакт 2
            </span>
        </li>
        <li>
            <span>
                Контакт 3
            </span>
        </li>
        <li>
            <span>
                Контакт 4
            </span>
        </li>
    </ul>
    <a href="/">На главную</a>
    <br>
    <a href="/about">О проекте</a>
</body>

</html>
