<!DOCTYPE html>


<html>

<head>
    <title>This is 'Hello, world' title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <p0>Hello, world</p0>
    <p>Who let the dogs out?</p>
    <a href="/contacts">Контакты</a>
    <br>
    <a href="/about">О проекте</a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: center;">
        <img src="/static/images/python.png" alt="This is Python, baby"/>
    </div>


</body>

</html>
